
<%- include("./partials/header")%> 
    
<style>
    body{
        background-image: url("https://previews.123rf.com/images/bonumopus/bonumopus1609/bonumopus160900080/63150110-universe-404-error-page-template-for-website-outer-space-with-astronaut-planets-and-rocket-page-not-.jpg");
    }
</style>

    <div class="container mt-3 mb-2">
        <%- include("./partials/flash")%>
        <h1 style="color: rgb(128, 255, 0); text-align: center;">Planet Not Found</h1>
        <h4 style="color: rgb(24, 255, 178); text-align: center; margin-top: 32px;">Don't Panic And Watch Your Oxygen Level</h4>
        <a href="/blogs" class="btn btn-light mb-1"  style="margin-left: 500px; margin-top: 32px; background-color: rgb(249, 253, 6);">Return To Safety</a> 
        
    </div>
   

